/* background color */
:root {
    background-color: #e8e7ed;
    --page-color-gr: #e8e7ed;
}

.em-cl {
    background-color: var(--page-color-gr);
}

/* Nav-Comp */
.nav-h-text {
    font-size: 2rem;
    font-family: cursive;
}

#about {
    text-align: center;
}

/* Footer-Section */
.footer-links {
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    border-style: solid;
    padding: 2em;
    border-radius: 2em;
}

.footer-links:hover {
    opacity: .8;
}

/* About-Section */
.about-mq {
    padding-top: 100px;
}

.about-container {
    padding-top: 75px;
    padding-bottom: 100px;
}

#about-img {
    width: 300px;
    height: 325px;
}

#about-text {
    margin-top: 32px;
    font-size: large;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.5em;
}

/* Project-Comp */
.portfolio-s {
    padding: 125px 75px;
}

.img-pt {
    opacity: .5;
}

.img-pt:hover {
    opacity: 1;
    cursor: pointer;
}

.a-link {
    display: inline-block;
    font-family: cursive;
    text-decoration: none;
}

/* About-Section */
@media screen and (max-width: 750px) {
    .about-mq {
        padding-top: 100px;
    }
}

@media screen and (max-width: 575px) {
    .about-mq {
        padding-top: 170px;
    }
}

@media screen and (max-width: 345px) {
    .about-mq {
        padding-top: 200px;
    }
}

/* Project-Comp */
@media screen and (max-width: 575px) {
    .portfolio-s {
        padding: 225px 75px;
    }

    #card-tl {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 350px) {
    .portfolio-s {
        padding: 275px 75px;
    }

    #card-tl {
        font-size: 1em;
    }
}

@media screen and (max-width: 275px) {
    #card-tl {
        font-size: .7em;
    }

    #card-te {
        font-size: .7em;
    }
}