/* background color */
:root {
    background-color: #e8e7ed;
    --page-color-gr: #e8e7ed;
}

.em-cl {
    background-color: var(--page-color-gr);
}

/* Nav-Comp */
.nav-h-text {
    font-size: 2rem;
    font-family: cursive;
}

#about {
    text-align: center;
}

/* Footer-Section */
.footer-links {
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    border-style: solid;
    padding: 2em;
    border-radius: 2em;
}

.footer-links:hover {
    opacity: .8;
}